@font-face {
    font-family: 'Righteous';
    src: url('../../../assets/font/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WindSong';
    src: url('../../../assets/font/WindSong-Regular.ttf') format('truetype');
}