@import '../font.css';

.register-box {
    width: 500px;
    height: 700px;
    background-color: white;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 50px;
}

.register-box .register-title {
    width: 400px;
}

.register-box .register-title .register-back-home {
    font-family: 'Rosario';
    font-size: 26px;
    line-height: 36px;
    margin: 0;
    text-decoration: none;
    color: black;
    cursor: default;
}

.register-box .register-title .register-title-line {
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.register-box .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.register-box .register-form label {
    font-family: 'Rosario';
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.register-box .register-form input {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.36);
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    padding: 2px 15px;
    margin: 0;
}

.register-box .register-username, .register-email, .register-verify-code, .register-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 70px;
    position: relative;
}

.register-box .register-verify-code .send-verify-code {
    position: absolute;
    width: 50px;
    height: 25px;
    right: 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(249, 249, 249, 0.35);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 0px -10px 50px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.register-box .register-verify-code .send-verify-code:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 0px -10px 20px 5px rgba(0, 0, 0, 0.25);
}
.register-box .register-verify-code .send-verify-code:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.register-box .register-button {
    width: 400px;
    height: 50px;
}

.register-box .register-button button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: rgba(249, 249, 249, 0.35);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 0px -10px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.register-box .register-button button:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 0px -10px 20px 5px rgba(0, 0, 0, 0.25);
}
.register-box .register-button button:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.register-box .register-login {
    align-self: flex-end;
    font-size: 18px;
}

.register-box .register-login a {
    color: black;
}

.register-box .register-login a:hover {
    color: brown;
}