.login-page,
.register-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}