:root {
    --page-bg-color: #FBFBF8;
    --main-bg-color: #FFFCF7;
    --card-bg-color: #FFFFFF;
    --header-bg-color: #979797;
    --header-hover-bg-color: #c7c7c7;
    --primary-shadow-color: rgba(0, 0, 0, 0.3);
    --emphasis-font-black: rgba(0, 0, 0, 0.6);
    --primary-font-black: rgba(0, 0, 0, 0.9);
    --primary-font-light: #FFFFFF;
    --link-active-color: mediumblue;
    --header-height: 60px;
    --font-size-large: 1.2rem;
}