.nav-menu {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: var(--header-height);
  z-index: 199;
  font-size: var(--font-size-large);
  line-height: var(--header-height);
  background-color: var(--header-bg-color);
  color: var(--primary-font-light);
}
.nav-item {
  user-select: none;
  cursor: pointer;
  list-style: none;
  padding: 0 10px;
}
.nav-item > a {
  color: var(--primary-font-light);
  text-decoration: none;
}
.nav-item:hover {
  background-color: var(--header-hover-bg-color);
  transition: all 0.2s ease-in-out;
}