.homepage-main {
    background-color: #FFFCF7;
    width: 62.5vw;
    height: 680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}