@import '../font.css';

.article-block {
    width: 50vw;
    height: 300px;
    background-color: #FBFBF8;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    box-sizing: border-box;
    border-radius: 10px;
}

.article-block:hover {
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.25);
}

.article-block .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: pointer;
}

.article-block .author, .article-block .publish-time {
    font-family: 'WindSong';
    font-size: 18px;
    line-height: 22px;
    align-self: flex-end;
    margin: 0;
}

.article-block .publish-time {
    margin-top: 10px;
}